# TASK 4 - EMAIL SPAM DETECTION WITH MACHINE LEARNING

We all have been the recipient of spam mails before .Spam mails are the mails that are sent to massive number of users at one time,these contain the cryptic messeges,scams or most dangerously phishing content.

In this project ,we use Email spam detection ,a machine learning model using the python and train the model to classify the Emails and recognise the spam mails and Non-spam mails

## modules needed:
1.Pandas : Open-source Python library used for the data manipulation,Data wrangling and to read the data from the csv file.

2.Numpy : Open-source Python package used for Scientific computing.Numpy is used because it can handle Multi-dimensional data             containers.

3.Matplotlib : Used for the 2-D representation of the data.

4.seaborn : Used for the Data visualization. It provides an graphical interface for drawing attractive and informative   statistical graphics

5 Scipy : used for the machine learning models.

## Tfidfvectorizer
TF-IDF (Term Frequency-Inverse Document Frequency) is a common technique used in natural language processing and information retrieval to represent text documents as numerical vectors. The TF-IDF vectorizer is a tool in the scikit-learn library of Python that helps to create a vector representation of a text corpus using the TF-IDF weighting scheme.

I short the text is converted into feature numbers which a machine can understand

In [1]:
#importing the dependices
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
raw_mail_data = pd.read_csv('mail_data.csv')
raw_mail_data
#raw_mail_data.drop(columns=['raw_mail'])

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
#CHECKING FOR NULL VALUES
raw_mail_data.isnull().sum()

Category    0
Message     0
dtype: int64

In [4]:
print("First Five rows:\n")
display(raw_mail_data.head())
print("The last rows:\n")
display(raw_mail_data.tail())

First Five rows:

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

The last rows:

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [5]:
#shape and size
print("The Number of rows x columns:",raw_mail_data.shape)
print("The Size of the data ",raw_mail_data.size)

The Number of rows x columns: (5572, 2)
The Size of the data  11144

## Label Encoding

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
raw_mail_data['Category'] = le.fit_transform(raw_mail_data['Category']) 
raw_mail_data                   #ham = 0, spam = 1

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
X = raw_mail_data['Message']
Y = raw_mail_data['Category']

In [9]:
print("The number of Rows",X.shape)
print("The size",X.size)
display(X)

The number of Rows (5572,)
The size 5572

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [10]:
print("The number of Rows",Y.shape)
print("The size",Y.size)
Y

The number of Rows (5572,)
The size 5572

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int32

# Splitting the data into train and test data

In [11]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=3)

##  Training Data

In [12]:
print("The Training Data:\n")
display(X_train)

The Training Data:

3075                  Don know. I did't msg him recently.
1787    Do you know why god created gap between your f...
1614                         Thnx dude. u guys out 2nite?
4304                                      Yup i'm free...
3266    44 7732584351, Do you want a New Nokia 3510i c...
                              ...
789     5 Free Top Polyphonic Tones call 087018728737,...
968     What do u want when i come back?.a beautiful n...
1667    Guess who spent all last night phasing in and ...
3321    Eh sorry leh... I din c ur msg. Not sad alread...
1688    Free Top ringtone -sub to weekly ringtone-get ...
Name: Message, Length: 4457, dtype: object

In [13]:
display(Y_train)

3075    0
1787    0
1614    0
4304    0
3266    1
       ..
789     1
968     0
1667    0
3321    0
1688    1
Name: Category, Length: 4457, dtype: int32

In [14]:
print(X_train.shape)
print("The number of training data:\n",X_train.size)

(4457,)
The number of training data:
 4457

## Testing data

In [15]:
print("The testing data:\n")
display(X_test)

The testing data:

2632    URGENT! Your mobile No 077xxx WON a £2,000 Bon...
454     Ok i will tell her to stay out. Yeah its been ...
983     Congrats! 2 mobile 3G Videophones R yours. cal...
1282        Am I the only one who doesn't stalk profiles?
4610                               Y de asking like this.
                              ...
4827                        Haha, just what I was thinkin
5291      Xy trying smth now. U eat already? We havent...
3325    I don wake since. I checked that stuff and saw...
3561    Lol I know! Hey someone did a great inpersonat...
1136                      K do I need a login or anything
Name: Message, Length: 1115, dtype: object

In [16]:
display(Y_test)

2632    1
454     0
983     1
1282    0
4610    0
       ..
4827    0
5291    0
3325    0
3561    0
1136    0
Name: Category, Length: 1115, dtype: int32

In [17]:
print(X_test.shape)
print("The number of training data:\n",X_test.size)

(1115,)
The number of training data:
 1115

## Feature Extraction

In [18]:
feature_extraction = TfidfVectorizer(min_df = 1,lowercase=True,stop_words= 'english')

In [19]:
# converting the X_train data
X_train_features = feature_extraction.fit_transform(X_train)
# converting the X_test data
X_test_features = feature_extraction.transform(X_test)
#coverting the Y_test and Y_train into integers
Y_test = Y_test.astype('int')
Y_train = Y_train.astype('int')

In [20]:
print("X_test after feature Extraction\n")
print("X_train_features:\n")
print(X_train_features)

X_test after feature Extraction

X_train_features:

  (0, 5413)	0.6198254967574347
  (0, 4456)	0.4168658090846482
  (0, 2224)	0.413103377943378
  (0, 3811)	0.34780165336891333
  (0, 2329)	0.38783870336935383
  (1, 4080)	0.18880584110891163
  (1, 3185)	0.29694482957694585
  (1, 3325)	0.31610586766078863
  (1, 2957)	0.3398297002864083
  (1, 2746)	0.3398297002864083
  (1, 918)	0.22871581159877646
  (1, 1839)	0.2784903590561455
  (1, 2758)	0.3226407885943799
  (1, 2956)	0.33036995955537024
  (1, 1991)	0.33036995955537024
  (1, 3046)	0.2503712792613518
  (1, 3811)	0.17419952275504033
  (2, 407)	0.509272536051008
  (2, 3156)	0.4107239318312698
  (2, 2404)	0.45287711070606745
  (2, 6601)	0.6056811524587518
  (3, 2870)	0.5864269879324768
  (3, 7414)	0.8100020912469564
  (4, 50)	0.23633754072626942
  (4, 5497)	0.15743785051118356
  :	:
  (4454, 4602)	0.2669765732445391
  (4454, 3142)	0.32014451677763156
  (4455, 2247)	0.37052851863170466
  (4455, 2469)	0.35441545511837946
  (4455, 5646)	0.33545678464631296
  (4455, 6810)	0.29731757715898277
  (4455, 6091)	0.23103841516927642
  (4455, 7113)	0.30536590342067704
  (4455, 3872)	0.3108911491788658
  (4455, 4715)	0.30714144758811196
  (4455, 6916)	0.19636985317119715
  (4455, 3922)	0.31287563163368587
  (4455, 4456)	0.24920025316220423
  (4456, 141)	0.292943737785358
  (4456, 647)	0.30133182431707617
  (4456, 6311)	0.30133182431707617
  (4456, 5569)	0.4619395404299172
  (4456, 6028)	0.21034888000987115
  (4456, 7154)	0.24083218452280053
  (4456, 7150)	0.3677554681447669
  (4456, 6249)	0.17573831794959716
  (4456, 6307)	0.2752760476857975
  (4456, 334)	0.2220077711654938
  (4456, 5778)	0.16243064490100795
  (4456, 2870)	0.31523196273113385

In [21]:
print("X_test after feature Extraction\n")
print(X_test_features)

X_test after feature Extraction

  (0, 7271)	0.1940327008179069
  (0, 6920)	0.20571591693537986
  (0, 5373)	0.2365698724638063
  (0, 5213)	0.1988547357502182
  (0, 4386)	0.18353336340308998
  (0, 1549)	0.2646498848307188
  (0, 1405)	0.3176863938914351
  (0, 1361)	0.25132445289897426
  (0, 1082)	0.2451068436245027
  (0, 1041)	0.28016206931555726
  (0, 405)	0.2381316303003606
  (0, 306)	0.23975986557206702
  (0, 20)	0.30668032384591537
  (0, 14)	0.26797874471323896
  (0, 9)	0.2852706805264544
  (0, 1)	0.2381316303003606
  (1, 7368)	0.29957800964520975
  (1, 6732)	0.42473488678029325
  (1, 6588)	0.3298937975962767
  (1, 6507)	0.26731535902873493
  (1, 6214)	0.3621564482127515
  (1, 4729)	0.22965776503163893
  (1, 4418)	0.3457696891316818
  (1, 3491)	0.496093956101028
  (2, 7205)	0.22341717215670331
  :	:
  (1110, 3167)	0.5718357066163949
  (1111, 7353)	0.4991205841293424
  (1111, 6787)	0.40050175714278885
  (1111, 6033)	0.4714849709283488
  (1111, 3227)	0.44384935772735523
  (1111, 2440)	0.4137350055985486
  (1112, 7071)	0.33558524648843113
  (1112, 6777)	0.32853717524096393
  (1112, 6297)	0.3056896872268727
  (1112, 5778)	0.22807428098549426
  (1112, 5695)	0.3381604952481646
  (1112, 5056)	0.2559183043595413
  (1112, 4170)	0.3307835623173863
  (1112, 2329)	0.241856898377491
  (1112, 1683)	0.4017087436272034
  (1112, 1109)	0.35334496762883244
  (1113, 4080)	0.3045947361955407
  (1113, 4038)	0.37023520529413706
  (1113, 3811)	0.28103080586555096
  (1113, 3281)	0.33232508601719535
  (1113, 3113)	0.33840833425155675
  (1113, 2852)	0.5956422931588335
  (1113, 2224)	0.3337959267435311
  (1114, 4557)	0.5196253874825217
  (1114, 4033)	0.8543942045002639

# LOGISTIC REGRESSION

## Training the model

In [22]:
model = LogisticRegression()
model.fit(X_train_features,Y_train)

LogisticRegression()

## Evaluating the model

In [23]:
# predict the accuracy based on train data
predict_training_data = model.predict(X_train_features)
predict_on_traininig_accuracy_score = accuracy_score(Y_train,predict_training_data)
print("The Accuracy of the model is ",predict_on_traininig_accuracy_score)

The Accuracy of the model is  0.9670181736594121

In [24]:
#predict the accuracy based on the test data
predict_test_data = model.predict(X_test_features)
predict_on_test_accuracy_score = accuracy_score(Y_test,predict_test_data)
print("The Accuracy of the model is ",predict_on_test_accuracy_score)

The Accuracy of the model is  0.9659192825112107

## Predictive System

In [25]:
def PredictiveSystem(input_mail):
    input_data_features = feature_extraction.transform(input_mail)
    prediction = model.predict(input_data_features)
    if(prediction[0] == 1):
        print("Spam Mail")
    else:
        print("Ham Mail")
        
input_mail1 =["Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."]
input_mail2 = ["07732584351 - Rodger Burns - MSG = We tried to call you re your reply to our sms for a free nokia mobile + free camcorder. Please call now 08000930705 for delivery tomorrow"]

#input_mail2 = ["England v Macedonia - dont miss the goals/team news. Txt ur national team to 87077 eg ENGLAND to 87077 Try:WALES, SCOTLAND 4txt/ú1.20 POBOXox36504W45WQ 16+"]
PredictiveSystem(input_mail1)
PredictiveSystem(input_mail2)

Ham Mail
Spam Mail